* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, #fce9e4, #fdeee8);
    color: #111;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.cta-btn {
    background-color: #ff6b35;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px;
}


.hero-left {
    width: 50%;
}

.customers {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.avatars img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
}

.customers p {
    font-size: 14px;
    line-height: 1.4;
}

.hero-left h1 {
    font-size: 85px;
    font-weight: 900;
    line-height: 1;
}


.hero-right {
    width: 45%;
}

.quick-glimpse h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.quick-glimpse p {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 350px;
}

.arrow {
    font-size: 45px;
    margin-bottom: 30px;
}

.services-list {
    list-style: none;
    font-size: 15px;
    color: #111;
    line-height: 1.8;
}

.about-section{
    background-color: #fdeee8;
    padding-bottom: 80px;
}

.about-top img{
    width: 100%;
    height: auto;
    display: block;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 100px 40px 100px;
}

.about-left{
    width: 40%;
}
.about-right{
    width: 50%;
}

.section-tag{
    color: #ff6b35;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.about-left h2{
    font-size: 48px;
    font-weight: 800;
    color: #000;
}

.about-right p{
    font-size: 16px;
    color: #333;
    line-height: 1.7;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 30px;
}

.stat-box {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #111;
    text-align: center;
}

.stat-box h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}


.stat-box .number {
    font-size: 28px;
    font-weight: 800;
}

.pink {
    background-color: #f9d8cf;
}

.orange {
    background-color: #fdbf96;
}

.green {
    background-color: #cfe8d5;
}

.recent-works {
    background-color: #fdeee8;
    padding-bottom: 100px;
}

.top-banner {
    background-color: #d7d9b9;
    text-align: center;
    padding: 15px 0;
}

.top-banner h2 {
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #1a1a1a;
}

.works-content {
    padding: 80px 100px;
}


.works-header {
    margin-bottom: 60px;
}

.works-header .section-tag {
    color: #ff6b35;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
}

.works-header h2 {
    font-size: 48px;
    font-weight: 800;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 60px;
}


.work-item img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}

.work-item h3 {
    font-size: 18px;
    font-weight: 700;
    color: #111;
    margin-bottom: 5px;
}

.work-item p {
    font-size: 14px;
    color: #444;
}

.cta-box {
    background-color: #fcd7c6;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #111;
    width: 92%;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 4px 4px 0px #111;
}

.cta-text h3 {
    font-size: 30px;
    font-weight: 800;
    color: #111;
    line-height: 1.3;
}

.cta-arrow {
    font-size: 45px;
    font-weight: bold;
}


.services-section {
    background: black;
    padding: 100px;
    color: #fff;
}

.services-header .section-tag {
    color: #ff6b35;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}

.services-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.services-top h2 {
    font-size: 48px;
    font-weight: bolder;
}

.services-top p {
    width: 45%;
    font-size: 15px;
    color: #ccc;
    line-height: 1.6;
}

.service-card {
    background: #1a1a1a;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    border-radius: 10px;
    padding: 20px;
}

.service-card img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 25px;
}


.service-info {
    flex: 1;
}

.service-info h3 {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 700;
}

.service-info p {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 15px;
}


.tags span {
    background: #333;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 8px;
}

.service-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.orange-btn {
    background: #ff6b35;
    color: #fff;
}

.white-btn {
    background: #fff;
    color: #111;
}