* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(90deg, #fce9e4, #fdeee8);
    color: #111;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.cta-btn {
    background-color: #ff6b35;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 60px;
}

/* Left Side */
.hero-left {
    width: 50%;
}

.customers {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.avatars img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -10px;
}

.customers p {
    font-size: 14px;
    line-height: 1.4;
}

.hero-left h1 {
    font-size: 85px;
    font-weight: 900;
    line-height: 1;
}

/* Right Side */
.hero-right {
    width: 45%;
}

.quick-glimpse h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.quick-glimpse p {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 350px;
}

.arrow {
    font-size: 45px;
    margin-bottom: 30px;
}

.services-list {
    list-style: none;
    font-size: 15px;
    color: #111;
    line-height: 1.8;
}